@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-foreground: #f0f2f5;

  --color-primary: #f8f0e7;

  --color-secondary: #ffffff;

  --color-muted: #707070;

  --color-highlight: #9C6409;

  --color-surface: #ffffff;
  --color-border: #242b32;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Inter", sans-serif;
  }
}

@layer components {
  .font-play {
    font-family: "Playfair Display", serif;
  }
}

@layer utilities {
  @keyframes animated-border {
    0% {
      stroke-dashoffset: 400;
    }

    100% {
      stroke-dashoffset: -500;
    }
  }

  .group:hover .animated-border-path {
    animation: animated-border 1.5s linear infinite;
  }

  .animated-border:hover {
    background-color: color-mix(in srgb, #ffffff 5%, transparent);
    backdrop-filter: blur(16px);
    box-shadow: 0 0 20px color-mix(in srgb, #ffffff 20%, transparent);
  }
}